


* {
	box-sizing: border-box;
}
body {

	background-color: #E9E6DF;
	max-width: 650px;
	margin: 0 auto;	
	
}

h1 {

	letter-spacing: -0.0625rem;
	text-align: center;
	font-family: 'Oswald';
	font-size: 38px;
	line-height: 1;
	font-weight: 200;

	
} 

h2 {

	letter-spacing: -0.0625rem;
	text-align: center;
	font-family: 'Oswald';
	font-size: 30px;
	
}



hr { 


	width:650px;
	margin-top: 20px;
}


img {
	max-width: 100vw;
	margin: 0 auto;
	display: block;
}


h3{
	
	text-align: center;
	text-transform: uppercase;
	margin-top: 1.5rem;
	font-family: 'IBM Plex Serif';
	font-size: 19px;
	font-weight: 700;
	color: #262d7e;

}

 .content p  {


	text-align: left;
	margin: 0 auto;
	width: 650px;
	font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.3;

}

.special_offer h2 {

	text-align: center;
	font-family: 'Libre Baskerville';
	font-size: 14px;
	font-weight: 700;
	color: #bc0000;

}

.special_offer p{

	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
	line-height: 1.5;

}





.special_offer {

	

	margin-top:20px;
	margin-bottom: 80px;


}